<div id="main-host">
    <div id="char-row-host" class="row">
        <div ng-repeat="char in hostVM.charList">
            <div class="col-xs-24 col-sm-8 col-md-8 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-body panel-player">
                        <div class="row">
                            <div class="col-xs-24">
                                <img class="img-avatar img-responsive" ng-src="{{::char.avatar}}"/>
                            </div>
                            <div class="col-xs-24">
                                <label ng-bind="::char.name"></label>
                            </div>
                            <div class="col-xs-24">
                                <label>Nível: </label>
                                <span ng-bind="::char.level"></span>
                            </div>
                            <div class="col-xs-24">
                                <label>Classe: </label>
                                <span ng-bind="::char.class"></span>
                            </div>
                            <div class="col-xs-24">
                                <a class="btn btn-fab btn-danger btn-fab-mini btn-delete btn-icon ng-scope">
                                    <span class="flaticon-right11"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>