.progress .progress-bar.progress-bar-experience {
    background-color: #F1DB6F;
}

.progress .progress-bar.progress-bar-health {
    background-color: #00f14a;
}

.progress .progress-bar.progress-bar-health-danger {
    background-color: #f10027;
}

.progress .progress-bar.progress-bar-mana {
    background-color: #001af1;
}

.progress .progress-bar-darkness {
    background-color: #000;
}

.progress .progress-bar-water {
    background-color: #6fc4f1;
}

.panel-activities {
    overflow: auto;
}

@media (min-width: 1200px) {
    .panel-image-master {
        height: 500px;
    }
}

@media (max-width: 1999px) {
    .panel-activities {
        height: 290px;
    }
}

.panel-attention {
    height: 340px;
    overflow: hidden;
}

.panel-attention .btn-icon {
    margin-top: 120px;
}

.attention-img {
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
    background-size: contain;
    text-align: center;
}

.attention-img > label {
    font-weight: bold;
    color: #BACBA9;
    padding-top: 10px;
}

.panel-body img {
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-attention .bs-component {
    margin-top: 13px;
}

.item-activity {
    margin-bottom: 10px;
}

.panel-player {
    min-height: 335px;
}

.panel-player label:first-child {
    margin-top: 10px;
}

.btn-panel-header {
    margin: 0;
    padding: 0 10px;
}

.panel-image-master {
    border-radius: 2px;
}

@media (min-width: 1200px) {
    .panel-image-master {
        height: 500px;
    }
}

@media (max-width: 1999px) {
    .panel-image-master {
        height: 385px;
    }
}

.open > .panel-menu {
    display: block;
}

.panel-menu {
    position: absolute;
    display: none;
    right: 15px;
    z-index: 1000;
    margin-top: 45px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    list-style: none;
    border-radius: 2px;
    border: 0;
    text-align: left;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
    cursor: pointer;
    width: 250px;
}

.panel-menu > li {
    padding: 5px 0;
}

.panel-header-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-navigation {
    position: absolute !important;
}

.btn-navigation-left {
    bottom: 25px;
    left: 20px
}

.btn-navigation-right {
    bottom: 25px;
    right: 20px
}

.btn-navigation-down {
    bottom: 75px;
    left: 20px
}

.btn-navigation-up {
    top: 5px;
    left: 20px
}

.btn-navigation-menu {
    top: 5px;
    right: 20px
}

.btn-dice {
    text-transform: none;
    margin-bottom: 0;
    background-color: #1C3144 !important;
    color: #FFF !important;
}

.card-title {
    font-size: 18px;
}

.vertical-menu {
    list-style: none;
    border-top: none;
    border-right: none;
    border-bottom: transparent;
    border-left: 5px solid #F1DB6F;
    padding-left: 0;
}

.vertical-menu > li {
    margin: 10px 0;
    padding-left: 20px;
}

.vertical-menu > li > label > span {
    font-size: 13px;
    cursor: pointer;

    -webkit-transition: font 0.2s cubic-bezier(.4,0,1,1);
    -moz-transition: font 0.2s cubic-bezier(.4,0,1,1);
    -o-transition: font 0.2s cubic-bezier(.4,0,1,1);
    -ms-transition: font 0.2s cubic-bezier(.4,0,1,1);
}

.vertical-menu > li.active > label > span {
    color: #BACBA9 !important;
}

.vertical-menu > li:not(.active) > label > span {
    font-size: 15px;
}

.vertical-menu > li > label:first-child {
    margin-top: 0;
}

.vertical-menu > li > label:last-child {
    margin-bottom: 0;
}

.img-avatar {
    margin-top: 10px;
}

.item-list {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
}