<div class="row">
    <div class="col-xs-24">
        <div class="row">

        </div>

        <div class="row">
            <div class="col-lg-16 col-xs-24">
                <div class="panel panel-primary">
                    <div class="panel-body panel-image-master"
                         ng-style="{'background-image': 'url('+vm.masterImage.large+')'}">
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-xs-24">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-20">
                                <h5 class="panel-header-title">
                                    <span ng-bind="vm.panelFocus.title"></span>
                                </h5>
                            </div>
                            <div class="col-xs-4">
                                <a class="btn btn-fab btn-primary btn-fab-mini btn-icon pull-right"
                                   data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="flaticon-more10"></span>
                                </a>
                                <ul class="panel-menu">
                                    <li ng-repeat="p in vm.panelFocusList track by p.id" ng-click="vm.panelFocus = p;">
                                        <span ng-bind="p.title"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-activities" ng-if="vm.panelFocus.id === 'panelLog'">
                        <!-- PANEL ACTIVITIES -->
                        <div class="item-activity"
                             ng-repeat="e in ::vm.eventList">
                            <em><span ng-bind="e.player"></span></em> - <label><span ng-bind="e.event"></span></label>
                        </div>
                    </div>

                    <!-- PANEL ATTENTION -->
                    <div class="panel-body panel-attention" ng-if="vm.panelFocus.id === 'panelAttention'">
                        <img class="img-responsive" ng-src="{{vm.masterImage.small}}"/>
                    </div>

                    <!-- PANEL FOOTER MESSAGES -->
                    <div ng-if="vm.panelFocus.id === 'panelLog'" class="panel-footer panel-footer-input">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Digite aqui sua mensagem"/>
                                <span class="input-group-btn">
                                    <a type="button" class="btn btn-fab btn-primary btn-fab-mini btn-icon">
                                        <span class="flaticon-send12"></span>
                                    </a>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-20">
                                <h5 class="panel-header-title">
                                    <span>NOME DO JOGADOR - RAÇA</span>
                                </h5>
                            </div>
                            <div class="col-xs-4">
                                <a class="btn btn-fab btn-primary btn-fab-mini btn-icon pull-right"
                                   data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="flaticon-more10"></span>
                                </a>
                                <ul class="panel-menu">
                                    <li>DADOS DO JOGADOR</li>
                                    <li>ATRIBUTOS</li>
                                    <li>INVENTÁRIO</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body panel-player">
                        <div class="row">
                            <div class="col-lg-3 col-xs-24">
                                <img class="img-responsive" ng-src="{{::vm.player.avatar}}"/>
                            </div>
                            <div class="col-lg-6 col-xs-24">
                                <div class="row">
                                    <div class="col-lg-24">
                                        <label class="control-label">TERRA NATAL</label>

                                        <div>
                                            <span>Mordor</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-24">
                                        <label class="control-label">IDADE APARENTE</label>

                                        <div>
                                            <span>34</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-24">
                                        <label class="control-label">DIVINDADE</label>

                                        <div>
                                            <span>Não</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-24">
                                <div class="row">
                                    <div class="col-lg-24">
                                        <label class="control-label">CLASSE</label>

                                        <div>
                                            <span>CLASSE 1 > CLASSE 2 > CLASSE 3</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-24">
                                        <label class="control-label">NÍVEL</label>

                                        <div>
                                            <span>12</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-24">
                                        <label class="control-label">EXPERIÊNCIA</label>

                                        <div>
                                            <div class="bs-component">
                                                <div class="progress progress-experience">
                                                    <div class="progress-bar progress-bar-primary"
                                                         style="width: 76%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-offset-3 col-lg-6 col-xs-24">
                                <div class="row">
                                    <div class="col-xs-24">
                                        <label class="control-label">DADOS</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-block">4</a>
                                    </div>
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-block">6</a>
                                    </div>
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-block">8</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-block">10</a>
                                    </div>
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-block">12</a>
                                    </div>
                                    <div class="col-xs-8">
                                        <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-block">20</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>