<div class="row">
    <div class="col-xs-24">

        <div class="row">
            <div class="col-lg-14 col-xs-24">
                <div class="panel panel-primary">
                    <div class="panel-body panel-image-master"
                         draggable-bg="vm.masterImage.large">
                        <background-navigation></background-navigation>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xs-24 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-24">
                                <h5 class="panel-header-title">
                                    <span>PONTO DE ATENÇÃO</span>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL ATTENTION -->
                    <div class="panel-body panel-attention">
                        <img class="img-responsive" ng-src="{{vm.masterImage.small}}"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-24 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-24">
                                <h5 class="panel-header-title">
                                    <span>LOG DE ATIVIDADES</span>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-activities">
                        <!-- PANEL ACTIVITIES -->
                        <div class="item-activity"
                             ng-repeat="e in ::vm.eventList">
                            <em><span ng-bind="e.player"></span></em> - <label><span ng-bind="e.event"></span></label>
                        </div>
                    </div>

                    <!-- PANEL FOOTER MESSAGES -->
                    <div class="panel-footer panel-footer-input">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Digite aqui"/>
                                <span class="input-group-btn">
                                    <a type="button" class="btn btn-fab btn-primary btn-fab-mini btn-icon">
                                        <span class="flaticon-send12"></span>
                                    </a>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-20">
                                <h5 class="panel-header-title">
                                    <span>NOME DO JOGADOR - RAÇA</span>
                                </h5>
                            </div>
                            <div class="col-xs-4 hidden-lg">

                                <a class="btn btn-fab btn-primary btn-fab-mini btn-icon pull-right"
                                   data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="flaticon-more10"></span>
                                </a>
                                <ul class="panel-menu">
                                    <li ng-click="vm.togglePanel(vm.panelList, $index)" ng-repeat="p in ::vm.panelList">
                                        <span ng-bind="p.title"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body panel-player">
                        <div class="row">
                            <div class="col-lg-3 col-xs-24">
                                <img class="img-avatar img-responsive" ng-src="{{::vm.player.avatar}}"/>
                            </div>
                            <div class="col-lg-4 visible-lg">
                                <ul class="vertical-menu">
                                    <li ng-click="vm.togglePanel(vm.panelList, $index)" ng-repeat="p in ::vm.panelList"
                                        ng-class="{'active': p.title === vm.selectedTitle}">
                                        <label class="control-label"><span ng-bind="p.title"></span></label>
                                    </li>
                                </ul>
                            </div>
                            <! -- DADOS BÁSICOS -->
                            <div class="col-lg-14 col-xs-24">
                                <div class="row">
                                    <div class="col-xs-24">
                                        <label class="control-label"><span class="card-title"
                                                                           ng-bind="vm.selectedTitle"></span></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- LEFT COLUMN -->
                                    <div ng-if="vm.panelList[0].active" class="col-md-12 col-xs-24">
                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">IDADE APARENTE</label>

                                                <div>
                                                    <span>34</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">DIVINDADE</label>

                                                <div>
                                                    <span>Siberous</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">NÍVEL</label>

                                                <div>
                                                    <span>12</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-18">
                                                <label class="control-label">EXPERIÊNCIA</label>

                                                <div>
                                                    <div class="bs-component">
                                                        <div class="progress progress-experience">
                                                            <div class="progress-bar progress-bar-experience"
                                                                 style="width: 76%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="vm.panelList[1].active" class="col-md-12 col-xs-24">
                                        <div class="row">
                                            <div class="col-lg-18">
                                                <label class="control-label">PONTOS DE VIDA (PV)</label>

                                                <div>
                                                    <div class="bs-component">
                                                        <div class="progress progress-experience">
                                                            <div class="progress-bar progress-bar-health"
                                                                 style="width: 50%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-18">
                                                <label class="control-label">PONTOS DE ÉTER (PE)</label>

                                                <div>
                                                    <div class="bs-component">
                                                        <div class="progress progress-experience">
                                                            <div class="progress-bar progress-bar-mana"
                                                                 style="width: 90%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">ATAQUE BÁSICO (AB)</label>

                                                <div>
                                                    <span>8</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">CAPACIDADE DEFENSIVA (CD)</label>

                                                <div>
                                                    <span>6</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- RIGHT COLUMN -->
                                    <div ng-if="vm.panelList[0].active" class="col-md-12 col-xs-24">
                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">TERRA NATAL</label>

                                                <div>
                                                    <span>Mordor</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">CLASSE 1</label>

                                                <div>
                                                    <span>Ladino</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">CLASSE 2</label>

                                                <div>
                                                    <span>-</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-24">
                                                <label class="control-label">CLASSE 3</label>

                                                <div>
                                                    <span>-</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="vm.panelList[1].active" class="col-md-12 col-xs-24">
                                        <div class="row">
                                            <div class="col-lg-19 col-xs-16 col-sm-16">
                                                <label class="control-label">INICIATIVA (IN)</label>

                                                <div>
                                                    <span>1D 8</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-xs-8 col-sm-8">
                                                <span class="input-group-btn rotate-180">
                                                    <a type="button"
                                                       class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-action">
                                                        <span class="flaticon-bomb18"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-19 col-xs-16 col-sm-16">
                                                <label class="control-label">ACURÁCIA (AC)</label>

                                                <div>
                                                    <span>1D 10</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-xs-8 col-sm-8">
                                                <span class="input-group-btn rotate-180">
                                                  <a type="button"
                                                     class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-action">
                                                      <span class="flaticon-bomb18"></span>
                                                  </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-19 col-xs-16 col-sm-16">
                                                <label class="control-label">EVASÃO (EV)</label>

                                                <div>
                                                    <span>1D 6</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-xs-8 col-sm-8">
                                                <span class="input-group-btn rotate-180">
                                                  <a type="button"
                                                     class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-action">
                                                      <span class="flaticon-bomb18"></span>
                                                  </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-19 col-xs-16 col-sm-16">
                                                <label class="control-label">ATAQUE PADRÃO</label>

                                                <div>
                                                    <span>Golpe com Adaga (AB+1d8 [+1AC])</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-xs-8 col-sm-8">
                                                <span class="input-group-btn rotate-180">
                                                  <a type="button"
                                                     class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-action">
                                                      <span class="flaticon-bomb18"></span>
                                                  </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CENTRALIZED -->
                                    <div ng-if="vm.panelList[2].active" class="col-xs-24">
                                        <div class="row">
                                            <div class="col-xs-24 col-lg-4">
                                                <label class="control-label">COMUNICAÇÃO</label>

                                                <div>
                                                    <span>3</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-24 col-lg-4">
                                                <label class="control-label">CONSTITUIÇÃO</label>

                                                <div>
                                                    <span>3</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-24 col-lg-4">
                                                <label class="control-label">DESTREZA</label>

                                                <div>
                                                    <span>2</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-24 col-lg-4">
                                                <label class="control-label">INTELIGÊNCIA</label>

                                                <div>
                                                    <span>2</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-24 col-lg-4">
                                                <label class="control-label">PERCEPÇÃO</label>

                                                <div>
                                                    <span>2</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-24 col-lg-4">
                                                <label class="control-label">VONTADE</label>

                                                <div>
                                                    <span>1</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-24">
                                                <label class="control-label">HABILIDADES</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-24">
                                                <ul class="ability-list">
                                                    <li ng-repeat="h in vm.abilityList">
                                                        <div>
                                                            <label class="control-label">
                                                                <span ng-bind="h.name"></span>
                                                                [cx. <span ng-bind="h.cost"></span>]
                                                            </label>
                                                        </div>
                                                        <span ng-bind="h.description"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-xs-12 col-sm-6">
                                <div class="row">
                                    <div class="col-xs-24">
                                        <br class="hidden-lg"/>
                                        <label class="control-label"><span class="card-title">DADOS</span></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-24">
                                        <a href="javascript:void(0)"
                                           class="btn btn-raised btn-primary btn-block btn-dice">1d4</a>
                                    </div>
                                    <div class="col-xs-24">
                                        <a href="javascript:void(0)"
                                           class="btn btn-raised btn-primary btn-block btn-dice">1d6</a>
                                    </div>
                                    <div class="col-xs-24">
                                        <a href="javascript:void(0)"
                                           class="btn btn-raised btn-primary btn-block btn-dice">1d8</a>
                                    </div>
                                    <div class="col-xs-24">
                                        <a href="javascript:void(0)"
                                           class="btn btn-raised btn-primary btn-block btn-dice">1d10</a>
                                    </div>
                                    <div class="col-xs-24">
                                        <a href="javascript:void(0)"
                                           class="btn btn-raised btn-primary btn-block btn-dice">1d12</a>
                                    </div>
                                    <div class="col-xs-24">
                                        <a href="javascript:void(0)"
                                           class="btn btn-raised btn-primary btn-block btn-dice">1d20</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>