@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-down126:before {
	content: "\e000";
}
.flaticon-left222:before {
	content: "\e001";
}
.flaticon-more10:before {
	content: "\e002";
}
.flaticon-padlock71:before {
	content: "\e003";
}
.flaticon-right11:before {
	content: "\e004";
}
.flaticon-send12:before {
	content: "\e005";
}
.flaticon-up7:before {
	content: "\e006";
}
.flaticon-user82:before {
	content: "\e007";
}
