<div class="hidden-lg">
    <a class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-navigation btn-navigation-left" ng-click="moveLeft()">
        <span class="flaticon-left222"></span>
    </a>
    <a class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-navigation btn-navigation-right" ng-click="moveRight()">
        <span class="flaticon-right11"></span>
    </a>
    <a class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-navigation btn-navigation-up" ng-click="moveUp()">
        <span class="flaticon-up7"></span>
    </a>
    <a class="btn btn-fab btn-primary btn-fab-mini btn-icon btn-navigation btn-navigation-down" ng-click="moveDown()">
        <span class="flaticon-down126"></span>
    </a>
</div>