<div class="panel panel-primary login-block">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-24 text-center">
                <h5 class="panel-header-title login-title">
                    <span>Login</span>
                </h5>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-24">
                <form id="formLogin" name="vm.formLogin" novalidate anchor-submit>
                    <div class="row text-center">
                        <div class="col-xs-24">
                            <label>Faça o login utilizando a rede social de sua preferência.</label>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-12 col-xs-24">
                            <button class="btn btn-sm btn-login btn-facebook" ng-click="vm.login('FACEBOOK')">
                                <span class="flaticon-facebook3"></span>
                            </button>
                        </div>

                        <div class="col-sm-12 col-xs-24">
                            <button class="btn btn-sm btn-login btn-google" ng-click="vm.login('GOOGLE')">
                                <span class="flaticon-google-plus"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>